.css-1kaaa4-MuiTypography-root{
        color:'#000080'
}

.css-e6ofaa-MuiTypography-root{
        font-size: 1.10rem;
            font-weight: 500;
}

.css-k88t5f-MuiTypography-root {
    color: '#000080' !important;
}